.categoryWrapper{
    @apply w-full h-[89vh] overflow-y-scroll flex justify-center p-5;
}
.hometitle{
    @apply w-full flex justify-center;
}
.homeGrid{
    @apply flex gap-10 px-2 justify-center items-center flex-wrap;
    height: 50vh;
}
.homeCard{
    @apply m-0 h-[90%] w-[18vw] flex justify-center relative;
    @apply shadow-lg rounded-md;
    
}
.cardImage{
    object-fit: cover;
    @apply rounded-md w-full h-full;
}
.cardPriceText{
    @apply bg-slate-500 z-50 bg-opacity-75 pl-5 text-xl w-[8vw] justify-center items-center absolute right-0 bottom-10 rounded-l-md;
}
.homeCard:hover{
    @apply shadow-lg;
}
.hoverContent{
    display: none;
    @apply justify-start items-start flex-col absolute bottom-0 pt-4 px-4 gap-2 w-full h-full overflow-hidden;
    @apply text-xl text-slate-600;
    @apply bg-gradient-to-tl from-slate-300 via-purple-300 to-indigo-300;
    @apply rounded-md;
    animation: cardHoverOutro ease-out 1s;
}
.hoverContent span:first-child{
    @apply self-center text-3xl border-b px-8 pb-1.5 mb-3; 
}

.homeCard:hover > .hoverContent{
    display: flex;
    animation: cardHoverIntro ease-in 1s; 
}
.homeCard:hover > .hoverContent .whatsappButton{
    display: flex;
    animation: buttonIntro ease-in 1.5s;
}
.whatsappButton{
    @apply flex items-center absolute bottom-10 left-5 p-2 select-none cursor-pointer;
    @apply bg-emerald-500 rounded-md hover:bg-emerald-400 drop-shadow-md;
    @apply text-xl; 
    animation: buttonOuttro ease-out 1.5s;
}
.whatsappButtonIcon{
    @apply w-full h-8;
    @apply opacity-50;
}

.statusWrapper{
    @apply flex items-center gap-2;
}
.statusWrapper span{
    @apply text-lg text-slate-600;
}
.statusWrapper span:first-child{
    @apply text-xl text-slate-600 border-none m-0 p-0;
}

.checked {
    color: orange !important;
  }

/* KEYFRAMES */

@keyframes cardHoverIntro {
    0% {
        @apply h-0 opacity-0;
    }
    100%{
        @apply h-full opacity-95;
    }
}
@keyframes cardHoverOutro {
    from {
        @apply h-full opacity-100;
        display: flex;
    }
    to{
        @apply h-0 opacity-0;
        display: none;
    }
}
@keyframes buttonIntro {
    0% {
        @apply opacity-0;
    }
    60%{
        @apply opacity-0;
    }
    100%{
        @apply opacity-95;
    }
}
@keyframes buttonOuttro {
    100% {
        @apply opacity-0;
    }
    30%{
        @apply opacity-0;
    }
    0%{
        @apply opacity-95;
    }
}